#RewriteEngine On 
#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://autotitlefinancial.com/$1 [R,L]

#RewriteCond %{HTTP_HOST} ^www.autotitlefinancial.com [NC]
#RewriteRule ^(.*)$ https://autotitlefinancial.com/$1 [L,R=301]